.image{
    float: left;
    width: 70%;
 
}
.ImageList{
    margin-top: 10px;
    width: 80vw;
    height: 50vw;
    position: relative;
    float: left;
}
.ImageList>button{
    width: 200px;
    margin-top: 5px;
    margin-left: 45px;
}
.ListBody{
    float: left;
    margin: 20px;
}
.delete{
    width: 30px;
    height: 30px;
    position: absolute;
}